<!DOCTYPE html>
<html>
<head>
  <title>Simple Messenger</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <style>
    .container {
      max-width: 1400px;
      margin: auto;
      padding: 0 15px;
    }
  </style>
</head>
<body>
  <div class="container">
    <header>
      <%= link_to 'Chats', chats_path %>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
    </header>
    <div class="flashes">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p id="alert"><%= alert %></p>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
