<h1>Chats</h1>

<% if @chats.any? %>
  <ul>
    <% @chats.each do |chat| %>
      <% user = chat.users.last %>
      <li>
        <%= link_to chat_messages_path(chat) do %>
          <%= user.first_name + ' ' + user.last_name %> -
          <%= user.nickname %> -
          <%= user.email %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%== pagy_nav(@pagy) %>
<% else %>
  <p>You currently have no chats.</p>
<% end %>
