<h1>Chats</h1>

<form>
  <input name="search">
  <input type="submit" value="search">
</form>

<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <% chat = chart_for(Messenger::User.find(user.id), current_user) %>
        <% if chat %>
          <%= link_to chat_messages_path(chat) do %>
            <%= chat_link_content(user) %>
          <% end %>
        <% else %>
          <%= button_to chats_path, params: { user_id: user.id } do %>
            <%= chat_link_content(user) %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%== pagy_nav(@pagy) %>
<% else %>
  <p>You currently have no chats.</p>
<% end %>
