<% current_user_email = current_user.email %>
<% receiver = @chat.users.where.not(email: current_user_email).first %>
<div class="chat">
  <form>
    <input name="search">
    <input type="submit" value="search">
  </form>
  <header>
    <h3><%= receiver.email %></h3>
    <a href="" class="btn btn-green refresh">refresh</a>
  </header>
  <%= form_with model: [@chat, @message] do |form| %>
    <%= form.hidden_field :chat_id, value: @chat.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.text_area :content %>
    <%= form.submit %>
  <% end %>
  <div id="messages" class="messages">
    <ul>
      <% @messages.each do |message| %>
        <li class="message <%= 'current-user-message' if message.user_id == current_user.id %>">
          <div class="message-inner">
            <span class="message-date">
              <%= message.created_at.to_date.strftime('%H:%M %Y-%m-%d') %>
            </span>
            <br>
            <span class="message-content">
              <%= message.content %>
            </span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%== pagy_nav(@pagy) %>
</div>
